.s-testimonials {
  @include s-padding;
  text-align: center;
  background-color: $bg-c--shade;

  &__container {
    @include container;
  }

  &__title {
    @include title;
    margin: 0 auto 45px;

    @media (min-width: $screen-sm) {
      margin: 0 auto 60px;
    }
  }

  &__list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 45px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @media (min-width: $screen-sm) {
      gap: 45px 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
  }

  &__card {
    position: relative;

    &::before {
      position: absolute;
      top: -15px;
      left: 50%;
      width: 60px;
      height: 48px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 30 24'%3E%3Cpath fill='%23000' d='M22.8846 0c2.2436 0 3.9744.812029 5.1923 2.43609C29.359 4.06015 30 6.37594 30 9.38346c0 2.70674-.641 5.23304-1.9231 7.57894-1.282 2.2857-3.2051 4.6015-5.7692 6.9474-.0641.0601-.1603.0902-.2885.0902-.1923 0-.3525-.0902-.4807-.2707-.1282-.1804-.1282-.3308 0-.4511 3.141-3.0075 4.7115-6.5564 4.7115-10.6466 0-1.6842-.3205-2.91731-.9615-3.69927-.577.90226-1.7629 1.35337-3.5577 1.35337-1.5385 0-2.7885-.45111-3.75-1.35337-.8975-.96241-1.3462-2.19549-1.3462-3.69925 0-1.62406.5449-2.88722 1.6346-3.78947C19.4231.481202 20.9615 0 22.8846 0zM6.25 0c2.24359 0 3.9744.812029 5.1923 2.43609 1.2821 1.62406 1.9231 3.93985 1.9231 6.94737 0 2.70674-.641 5.23304-1.9231 7.57894-1.282 2.2857-3.20512 4.6015-5.76922 6.9474-.06411.0601-.16026.0902-.28846.0902-.19231 0-.35257-.0902-.48077-.2707-.12821-.1804-.12821-.3308 0-.4511 3.14102-3.0075 4.71153-6.5564 4.71153-10.6466 0-1.6842-.32051-2.91731-.96153-3.69927-.57693.90226-1.76282 1.35337-3.5577 1.35337-1.53846 0-2.78846-.45111-3.75-1.35337C.448718 7.96992 0 6.73684 0 5.23308c0-1.62406.544872-2.88722 1.63462-3.78947C2.78846.481202 4.32692 0 6.25 0z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      opacity: 0.05;
      transform: translateX(-50%);
    }

    @media (min-width: $screen-sm) {
      padding: 0 15px;
    }
  }

  &__quote {
    margin: 0 0 30px;
    font-size: 16px;
    line-height: 1.5em;
  }

  &__quotee-avatar {
    position: relative;
    z-index: 1;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 1px solid rgba(#000, 0.125);
    border-radius: 60px;
    object-fit: cover;
  }

  &__quotee-name {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4em;
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @media (min-width: $screen-sm) {
      margin-top: 45px;
    }
  }
}
