.s-promo {

  &__slider {
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden;
  }

  &__slide {
    position: relative;
  }

  &__slide-info {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 75vh;
    min-height: 400px;
    max-height: 800px;
    text-align: center;
  }

  &__slide-container {
    @include container;
  }

  &__slide-subtitle {
    display: block;
    max-width: 60ch;
    margin: 0 auto 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
    color: #cdb083;
  }

  &__slide-title {
    max-width: 35ch;
    margin: 0 auto 45px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.025em;

    @media (min-width: $screen-sm) {
      font-size: 39px;
      line-height: 1.2em;
    }
  }

  &__slide-btn {
    color: #cdb083;
    background-color: transparent;
    border: 1px solid rgba(#cdb083, 0.25);
    box-shadow: none;

    &:hover {
      color: #cdb083;
      background-color: transparent;
      border: 1px solid rgba(#cdb083, 1);
      box-shadow: none;
      transform: none;
    }
  }

  &__slide-media {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: rgba(18, 12, 20, 0.75);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-nav {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
    pointer-events: none;
    transform: translateY(-50%);

    @media (min-width: $screen-sm) {
      padding: 0 30px;
    }

    .s-slider-nav__btn {
      pointer-events: all;
    }
  }
}
