@use 'sass:math';

.s-article-card {

  &__media {
    position: relative;
    z-index: 1;
    display: block;
    margin-bottom: 20px;
    overflow: hidden;

    &::before {
      display: block;
      padding-bottom: (math.div(9, 16)) * 100%;
      content: '';
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      transition: all 1500ms $transition-t;
      transform: scale(1.05);
      object-fit: cover;
    }

    &:hover {

      img {
        transform: scale(1);
      }
    }
  }

  &__data-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    list-style: none;
  }

  &__data-item {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.4em;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__label {
    display: block;
    padding: 5px 15px;
    font-weight: 500;
    color: currentColor;
    text-decoration: none;
    background-color: rgba(#000, 0.075);
    border-radius: 100px;
    transition: all 250ms $transition-t;

    &:hover,
    &:focus {
      background-color: rgba(#000, 0.15);
    }
  }

  &__date {
    display: block;
    font-weight: 500;
    opacity: 0.5;
  }

  &__briefly {
    display: block;
    color: currentColor;
    text-decoration: none;

    @media (min-width: $screen-sm) {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  &__title {
    margin: 0 0 10px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.3em;
  }

  &__intro {
    display: box;
    box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.4em;
    opacity: 0.75;
  }
}
