mixin article-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-article-card--' + modsList[i].trim();
      }
    }

  article.s-article-card(class=allMods)&attributes(attributes)
    a.s-article-card__media(href='/')
      img(src=props.media, alt='')
    ul.s-article-card__data-list
      li.s-article-card__data-item
        a.s-article-card__label(href='/')!= props.label
      li.s-article-card__data-item
        time.s-article-card__date(datetime='2021-06-01') 01.06.2021
    a.s-article-card__briefly(href='/')
      h3.s-article-card__title!= props.title
      .s-article-card__intro
        p!= props.intro