.s-slider-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  @media (max-width: ($screen-sm - 1px)) {
    display: none;
  }

  .swiper-button-disabled {
    opacity: 0.25;
  }

  &__btn {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    color: currentColor;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 4px;
    outline: none;
    transition: 250ms $transition-t;

    &::after {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
      content: '';
    }

    svg {
      display: block;
      fill: transparent;

      path {
        stroke: currentColor;
      }
    }

    &--prev {
      margin-right: 10px;

      svg {
        transform: rotate3d(0, 0, 1, 180deg) translateX(1px);
      }
    }
  }
}
