.s-page-header {
  position: relative;
  padding: 0 20px;

  @media (min-width: $screen-sm) {
    padding: 0 30px;
  }

  &__container {
    @include container;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }
  }

  &__contacts {

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 1.4em;
      font-variant-numeric: lining-nums;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    a {
      display: block;
      color: currentColor;
      text-decoration: none;
    }
  }

  &__socials {
    margin-left: auto;

    a {
      opacity: 0.5;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  &__logo {
    margin-right: auto;

    img {
      width: auto;
      height: 70px;
    }
  }

  &__nav {

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      padding: 0;
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.4em;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    a {
      display: block;
      color: currentColor;
      text-decoration: none;
    }

    @media (max-width: ($screen-sm - 1px)) {
      padding: 20px;
    }

    @media (max-width: ($screen-lg - 1px)) {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 100;
      max-width: 300px;
      padding: 30px;
      pointer-events: none;
      visibility: hidden;
      background-color: #fff;
      opacity: 0;

      ul {
        flex-direction: column;
        text-align: right;
      }

      li {

        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }

      &--is-active {
        pointer-events: all;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__burger {
    position: relative;
    display: block;
    padding: 0;
    margin: 0 0 0 20px;
    color: currentColor;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;

    &::before {
      position: absolute;
      top: -1em;
      right: -1em;
      bottom: -1em;
      left: -1em;
      content: '';
    }

    svg {
      display: block;
      stroke: currentColor;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__search-toggler {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &::before {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
      content: '';
    }

    svg {
      display: block;
      fill: transparent;
      stroke: currentColor;
    }
  }

  &__search-form {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 100;
    padding: 0 20px;
    pointer-events: none;
    visibility: hidden;
    background-color: #fff;
    border-top: 1px solid rgba(#000, 0.125);
    opacity: 0;

    @media (min-width: $screen-sm) {
      padding: 0 30px;
    }

    &--is-active {
      pointer-events: all;
      visibility: visible;
      opacity: 1;
    }
  }

  &__search-form-container {
    @include container;

    input {
      width: 100%;
      padding: 15px 0;
      margin: 0;
      border: none;

      @media (min-width: $screen-sm) {
        padding: 20px 0;
      }
    }
  }
}
