mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods)&attributes(attributes)
    .s-page-header__container

      .s-page-header__top
        .s-page-header__contacts
          ul
            li
              a(href='tel:+79291015636') +7 (929) 101-56-36
            li
              a(href='mailto:info@annenkovaschool.ru') info@annenkovaschool.ru
        +socials().s-page-header__socials

      .s-page-header__bottom
        a.s-page-header__logo(href='/')
          img(src='img/logo.png', alt='', width='157', height='78')
        nav.s-page-header__nav
          ul
            li
              a(href='/') О школе
            li
              a(href='/') Обучение
            li
              a(href='/') Онлайн-обучение
            li
              a(href='/') Компаниям
            li
              a(href='/') Расписание
            li
              a(href='/') Преподаватели
            li
              a(href='/') Театральные проекты
            li
              a(href='/') Контакты
        button.s-page-header__search-toggler
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
            path(stroke-linecap='round', stroke-linejoin='round', d='M12.1759 12.1759L15 15m-.9067-7.45333c0 3.61563-2.931 6.54663-6.54663 6.54663C3.93104 14.0933 1 11.1623 1 7.54667 1 3.93104 3.93104 1 7.54667 1s6.54663 2.93104 6.54663 6.54667z')
        button.s-page-header__burger(type='button')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 22 14', width='22', height='14')
            path(stroke='#9c3f5d', stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 1h20')
            path(stroke='#9c3f5d', stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 7h20')
            path(stroke='#9c3f5d', stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 13h20')

    form.s-page-header__search-form
      .s-page-header__search-form-container
        input(type='search', placeholder='Type something')