.s-directions {
  @include s-padding;
  text-align: center;

  &__container {
    @include container;
  }

  &__intro {
    margin-bottom: 30px;

    @media (min-width: $screen-sm) {
      margin-bottom: 45px;
    }
  }

  &__title {
    @include title;
    margin: 0 auto;
  }

  &__desc {
    max-width: 75ch;
    margin: 30px auto 0;
    font-size: 16px;
    line-height: 1.45em;
  }

  &__directions {

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 20px;
      grid-template: 'left-list media right-list' / 4fr 4fr 4fr;
    }

    @media (min-width: $screen-md) {
      gap: 20px;
      grid-template: 'left-list media right-list' / 3fr 6fr 3fr;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    &--left {

      @media (min-width: $screen-sm) {
        grid-area: left-list;
        align-self: center;
      }
    }

    &--right {

      @media (min-width: $screen-sm) {
        grid-area: right-list;
        align-self: center;
      }
    }
  }

  &__item {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__card {
    display: block;
    color: currentColor;
    text-decoration: none;
  }

  &__card-figure {
    padding: 0;
    margin: 0;
  }

  &__card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 15px;

    i {
      font-size: 39px;
      line-height: 1em;
      color: #9c3f5d;
    }
  }

  &__card-caption {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }

  &__media {
    height: 420px;
    margin: 30px 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: $screen-sm) {
      grid-area: media;
      height: 100%;
      margin: 0;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @media (min-width: $screen-sm) {
      margin-top: 45px;
    }
  }
}
