.btn {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding: 15px 25px;
  margin: 0;
  overflow: hidden;
  font-family: $font-f;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-color: #50485b;
  background-image: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0 5px 0 #342f3c;
  transition: all 250ms $transition-t;

  &:hover,
  &:focus {
    color: #f7f7f7;
    background-color: #50485b;
    box-shadow: 0 2px 0 #342f3c;
    transform: translateY(3px);
  }
}
