.s-in-numbers {
  @include s-padding;
  color: #fff;
  text-align: center;
  background-color: #a9a9a9;

  &__container {
    @include container;
  }

  &__list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 30px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @media (min-width: $screen-xs) {
      gap: 30px 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-sm) {
      gap: 45px 20px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
  }

  &__num {
    margin-bottom: 10px;
    font-size: 39px;
    font-weight: 700;
    line-height: 1.2em;
    font-variant-numeric: lining-nums;

    @media (min-width: $screen-sm) {
      font-size: 56px;
    }
  }

  &__num-caption {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
  }
}
