.s-socials {

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  a {
    position: relative;
    display: block;
    color: currentColor;
    text-decoration: none;
    transition: all 125ms $transition-t;

    &::before {
      position: absolute;
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
      content: '';
    }

    svg {
      display: block;
    }

    &:hover,
    &:focus {
      color: #51485b;
    }
  }
}
