mixin socials(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-socials--' + modsList[i].trim();
      }
    }

  .s-socials(class=allMods)&attributes(attributes)
    ul
      li
        a(href='')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 12', width='20', height='12')
            path(fill-rule='evenodd', d='M2.93775 0H.750191C.125032 0 0 .297095 0 .625516 0 1.21061.741188 4.11486 3.45388 7.95486 5.26134 10.5782 7.80898 12 10.1266 12c1.3913 0 1.5634-.3163 1.5634-.8589V9.1584c0-.63158.132-.7579.5721-.7579.3251 0 .8802.16371 2.1796 1.42788C15.925 11.328 16.1691 12 17.0033 12h2.1886c.6251 0 .9382-.3163.7572-.9398-.1971-.6205-.9053-1.52184-1.8455-2.58997-.5101-.60834-1.2743-1.26417-1.5064-1.59259-.3251-.42139-.232-.60833 0-.98324 0 0 2.6657-3.79352 2.9438-5.081937C19.681.344589 19.541 0 18.8788 0h-2.1876c-.5561 0-.8132.297095-.9522.625516 0 0-1.1123 2.739534-2.6887 4.519074-.5101.51537-.7422.68008-1.0202.68008-.1391 0-.3401-.16471-.3401-.63259V.812463C11.69.25061 11.5289 0 11.0648 0H7.62594c-.34709 0-.55614.260716-.55614.508295 0 .532545.7882.655835.86922 2.154445v3.2549c0 .71444-.12704.84379-.40611.84379-.74118 0-2.54564-2.75267-3.61591-5.901472C3.70694.247579 3.49689 0 2.93775 0z', clip-rule='evenodd')
      li
        a(href='')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 14', width='14', height='14')
            path(d='M14 7c0-3.85-3.15-7-7-7S0 3.15 0 7c0 3.5 2.5375 6.3875 5.8625 6.9125v-4.9h-1.75V7h1.75V5.425c0-1.75 1.05-2.7125 2.625-2.7125.7875 0 1.575.175 1.575.175v1.75h-.875c-.875 0-1.1375.525-1.1375 1.05V7h1.925l-.35 2.0125H7.9625V14C11.4625 13.475 14 10.5 14 7z')
      li
        a(href='')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 14', width='14', height='14')
            path(d='M7 1.26506h2.86747c.67473 0 1.01203.16868 1.26503.25301.3374.16868.5904.25302.8434.50603.253.25301.4217.50602.506.84337.0844.25301.1687.59036.253 1.26506v5.73494c0 .67473-.1686 1.01203-.253 1.26503-.1686.3374-.253.5904-.506.8434s-.506.4217-.8434.506c-.253.0844-.5903.1687-1.26503.253H4.13253c-.6747 0-1.01205-.1686-1.26506-.253-.33735-.1686-.59036-.253-.84337-.506-.25301-.253-.42169-.506-.50603-.8434-.08433-.253-.16867-.5903-.25301-1.26503V7 4.13253c0-.6747.16868-1.01205.25301-1.26506.16868-.33735.25302-.59036.50603-.84337.25301-.25301.50602-.42169.84337-.50603.25301-.08433.59036-.16867 1.26506-.25301H7zM7 0H4.13253c-.75904 0-1.26506.168675-1.68675.33735-.42168.168675-.84337.421687-1.26506.84337-.421683.42169-.590358.75904-.84337 1.26506C.168675 2.86747.0843374 3.37349 0 4.13253v5.73494c0 .75903.168675 1.26503.33735 1.68673.168675.4217.421687.8434.84337 1.2651.42169.4217.75904.5903 1.26506.8434.42169.1686.92771.253 1.68675.3373h5.73494c.75903 0 1.26503-.1687 1.68673-.3373.4217-.1687.8434-.4217 1.2651-.8434.4217-.4217.5903-.7591.8434-1.2651.1686-.4217.253-.9277.3373-1.68673V7 4.13253c0-.75904-.1687-1.26506-.3373-1.68675-.1687-.42168-.4217-.84337-.8434-1.26506-.4217-.421683-.7591-.590358-1.2651-.84337C11.1325.168675 10.6265.0843374 9.86747 0H7z')
            path(d='M7 3.37349C4.9759 3.37349 3.37349 4.9759 3.37349 7c0 2.0241 1.60241 3.6265 3.62651 3.6265 2.0241 0 3.6265-1.6024 3.6265-3.6265S9.0241 3.37349 7 3.37349zm0 5.98796C5.73494 9.36145 4.63855 8.3494 4.63855 7 4.63855 5.73494 5.6506 4.63855 7 4.63855 8.26506 4.63855 9.36145 5.6506 9.36145 7c0 1.26506-1.09639 2.36145-2.36145 2.36145zM10.7108 4.13253c.4658 0 .8434-.37759.8434-.84337 0-.46578-.3776-.84338-.8434-.84338-.4657 0-.84333.3776-.84333.84338s.37763.84337.84333.84337z')
      li
        a(href='')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 14', width='20', height='14')
            path(d='M19.5 2.125c-.25-.875-.875-1.5-1.75-1.75C16.25 2.2e-7 9.87499 0 9.87499 0S3.62501 2.2e-7 2.00001.375c-.875.25-1.500014.875-1.750014 1.75C-.00000382 3.75 0 7 0 7s.0000038 3.25.375004 4.875c.25.875.874996 1.5 1.749996 1.75C3.625 14 10 14 10 14s6.25 0 7.875-.375c.875-.25 1.5-.875 1.75-1.75C20 10.25 20 7 20 7s0-3.25-.5-4.875zM7.99999 10V4L13.25 7l-5.25001 3z')
      li
        a(href='')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 14', width='14', height='14')
            path(d='M8.57206 5.5627C9.62854 6.61864 11.2063 6.81862 14 6.85635 13.9245 3.14627 10.9696.150926 7.27733.0064683 7.31075 2.87999 7.50048 4.49059 8.57206 5.5627zm-3.00882 0C6.63589 4.49005 6.82455 2.87783 6.85851 0 3.10207.074924.075463 3.10099 0 6.85743c2.87837-.03342 4.49005-.22262 5.5627-1.29527l.00054.00054zm3.00882 3.00882C7.51719 9.62692 7.31668 11.2036 7.2784 13.993c3.647-.1439 6.5712-3.0681 6.7151-6.7146-2.7894.03774-4.36604.23825-5.42144 1.29366v-.00054zm-3.00882 0C4.49059 7.49994 2.88053 7.31021.00700728 7.27679.151465 10.9691 3.14681 13.9245 6.85635 14c-.03773-2.7943-.23717-4.372-1.29365-5.42794l.00054-.00054z')