.s-team {
  @include s-padding;
  text-align: center;
  background-color: $bg-c--shade;

  &__container {
    @include container;
  }

  &__title {
    @include title;
    margin: 0 auto 30px;

    @media (min-width: $screen-sm) {
      margin: 0 auto 45px;
    }
  }

  &__slider {
    width: 100%;
    overflow: hidden;
  }

  &__slider-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
