include ../blocks/article-card/article-card.pug
include ../blocks/btn/btn.pug
include ../blocks/employee-card/employee-card.pug
include ../blocks/lesson-card/lesson-card.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/project-card/project-card.pug
include ../blocks/slider-nav/slider-nav.pug
include ../blocks/socials/socials.pug
