@use 'sass:math';

.s-video-about-us {
  @include s-padding;

  &__container {
    @include container;
    display: grid;
    gap: 30px 20px;
    grid-template: 'info' 'media' / 1fr;

    @media (min-width: $screen-sm) {
      gap: 20px;
      grid-template: 'media info' / 6fr 6fr;
    }
  }

  &__media {
    grid-area: media;
    align-self: center;
  }

  &__video {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:before {
      display: block;
      padding-bottom: (math.div(9, 16)) * 100%;
      content: '';
    }
  }

  &__video-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: #000;
      opacity: 0.5;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__video-play-btn {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 60px;
    transition: all 250ms $transition-t;
    transform-origin: center center;

    svg {
      color: #000;
      transform: translateX(1px);
    }

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  &__info {
    grid-area: info;
    align-self: center;
    text-align: center;

    @media (min-width: $screen-sm) {
      padding: 0 30px;
    }
  }

  &__title {
    @include title;
    margin: 0 auto 30px;

    @media (min-width: $screen-sm) {
      margin: 0 auto 45px;
    }
  }

  &__desc {
    max-width: 70ch;
    margin: 0 auto 45px;
    font-size: 16px;
    line-height: 1.5em;
  }
}
