extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block content
  .s-promo
    .s-promo__slider
      .swiper-wrapper
        .swiper-slide
          .s-promo__slide
            .s-promo__slide-info
              .s-promo__slide-container
                span.s-promo__slide-subtitle Хочешь быть стильным?
                h2.s-promo__slide-title Секретный telegram-канал
                +btn('Подробнее').s-promo__slide-btn
            .s-promo__slide-media
              img(src='img/promo-media-1.jpg', alt='')
        .swiper-slide
          .s-promo__slide
            .s-promo__slide-info
              .s-promo__slide-container
                span.s-promo__slide-subtitle Хочешь быть сттиильным?
                h2.s-promo__slide-title Секретный telegram-канал
                +btn('Подробнее').s-promo__slide-btn
            .s-promo__slide-media
              img(src='img/promo-media-2.jpg', alt='')
      +slider-nav().s-promo__slider-nav



  section.s-directions
    .s-directions__container
      .s-directions__intro
        h2.s-directions__title Имидж-школа елены анненковой
        p.s-directions__desc Креативное пространство, где в доброжелательной неформальной обстановке с помощью опытных педагогов каждый может изменить свой имидж, оставаясь самим собой.
      .s-directions__directions
        ul.s-directions__list.s-directions__list--left
          li.s-directions__item
            a.s-directions__card(href='/')
              figure.s-directions__card-figure
                .s-directions__card-icon
                  i.fa.fa-user-circle-o
                figcaption.s-directions__card-caption Стилистика
          li.s-directions__item
            a.s-directions__card(href='/')
              figure.s-directions__card-figure
                .s-directions__card-icon
                  i.fa.fa-book
                figcaption.s-directions__card-caption История моды
          li.s-directions__item
            a.s-directions__card(href='/')
              figure.s-directions__card-figure
                .s-directions__card-icon
                  i.fa.fa-paint-brush
                figcaption.s-directions__card-caption Цветоведение
          li.s-directions__item
            a.s-directions__card(href='/')
              figure.s-directions__card-figure
                .s-directions__card-icon
                  i.fa.fa-eye
                figcaption.s-directions__card-caption Визаж
          li.s-directions__item
            a.s-directions__card(href='/')
              figure.s-directions__card-figure
                .s-directions__card-icon
                  i.fa.fa-picture-o
                figcaption.s-directions__card-caption Театральный проект
        .s-directions__media
          img(src='img/directions-media.jpg', alt='')
        ul.s-directions__list.s-directions__list--right
          li.s-directions__item
            a.s-directions__card(href='/')
              figure.s-directions__card-figure
                .s-directions__card-icon
                  i.fa.fa-microphone
                figcaption.s-directions__card-caption Техника речи
          li.s-directions__item
            a.s-directions__card(href='/')
              figure.s-directions__card-figure
                .s-directions__card-icon
                  i.fa.fa-grav
                figcaption.s-directions__card-caption Пластика
          li.s-directions__item
            a.s-directions__card(href='/')
              figure.s-directions__card-figure
                .s-directions__card-icon
                  i.fa.fa-venus-mars
                figcaption.s-directions__card-caption Психология
          li.s-directions__item
            a.s-directions__card(href='/')
              figure.s-directions__card-figure
                .s-directions__card-icon
                  i.fa.fa-line-chart
                figcaption.s-directions__card-caption Корпоративные тренинги
          li.s-directions__item
            a.s-directions__card(href='/')
              figure.s-directions__card-figure
                .s-directions__card-icon
                  i.fa.fa-glass
                figcaption.s-directions__card-caption Светские мероприятия
      .s-directions__actions
        +btn('Подробнее о школе')



  .s-in-numbers
    .s-in-numbers__container
      ul.s-in-numbers__list
        li.s-in-numbers__item
          .s-in-numbers__num 14
          h3.s-in-numbers__num-caption Лет на рынке обучения
        li.s-in-numbers__item
          .s-in-numbers__num 10
          h3.s-in-numbers__num-caption Преподавателей
        li.s-in-numbers__item
          .s-in-numbers__num 20
          h3.s-in-numbers__num-caption Авторский курсов
        li.s-in-numbers__item
          .s-in-numbers__num 2519
          h3.s-in-numbers__num-caption Довольных слушателей



  section.s-lessons
    .s-lessons__container
      h2.s-lessons__title Наши занятия
      .s-lessons__nav
        ul
          li: a(href='/') Все
          li: a(href='/') Курсы
          li: a(href='/') Шопинг
          li: a(href='/') Мастер-классы
      ul.s-lessons__list
        li.s-lessons__item
          +lesson-card({
            title: 'Базовый курс по стилю и формированию индивидуального имиджа',
            media: 'img/lesson-1.jpg'
          })
        li.s-lessons__item
          +lesson-card({
            title: 'Базовый курс-интенсив по стилю и формированию индивидуального имиджа',
            media: 'img/lesson-2.jpg'
          })
        li.s-lessons__item
          +lesson-card({
            title: 'Продвинутый курс по имиджу и стилю',
            media: 'img/lesson-3.jpg'
          })
        li.s-lessons__item
          +lesson-card({
            title: 'Курс ораторского искусства «Энергия в слове»',
            media: 'img/lesson-4.jpg'
          })
        li.s-lessons__item
          +lesson-card({
            title: 'Курс по пластике «В свободном теле — свободный дух»',
            media: 'img/lesson-5.jpg'
          })
        li.s-lessons__item
          +lesson-card({
            title: 'Однодневный тренинг «Походка. Фотокинетика»',
            media: 'img/lesson-6.jpg'
          })
        li.s-lessons__item
          +lesson-card({
            title: 'Курс по цветоведению и цветотипам',
            media: 'img/lesson-7.jpg'
          })
        li.s-lessons__item
          +lesson-card({
            title: 'Определение индивидуального цветотипа с Ю. Левкович',
            media: 'img/lesson-8.jpg'
          })
        li.s-lessons__item
          +lesson-card({
            title: 'Курс по макияжу (3 занятия)',
            media: 'img/lesson-9.jpg'
          })
        li.s-lessons__item
          +lesson-card({
            title: 'Встречи-беседы о культурных событиях нашего города с Татьяной Троянской',
            media: 'img/lesson-10.jpg'
          })
        li.s-lessons__item
          +lesson-card({
            title: 'Тренинг по мотивации «Личный мотивационный профиль: новое качество жизни»',
            media: 'img/lesson-11.jpg'
          })
        li.s-lessons__item
          +lesson-card({
            title: 'Курс от психолога ирины богачек «Мужчина и женщина: путь к гармонии»',
            media: 'img/lesson-12.jpg'
          })
        li.s-lessons__item
          +lesson-card({
            title: 'Шопинг-сопровождение',
            media: 'img/lesson-13.jpg'
          })
        li.s-lessons__item
          +lesson-card({
            title: 'Мастер-классы по стилю',
            media: 'img/lesson-14.jpg'
          })



  section.s-team
    .s-team__container
      h2.s-team__title Наша команда
      .s-team__slider
        .swiper-wrapper
          .swiper-slide
            +employee-card({
              name: 'Елена Анненкова',
              media: 'img/annenkova.jpg'
            })
          .swiper-slide
            +employee-card({
              name: 'Любовь Рудольфовна Мочалина',
              media: 'img/mochalina.jpg'
            })
          .swiper-slide
            +employee-card({
              name: 'Юлия Левкович',
              media: 'img/levkovich.jpg'
            })
          .swiper-slide
            +employee-card({
              name: 'Наталия Фиссон',
              media: 'img/fisson.jpg'
            })
          .swiper-slide
            +employee-card({
              name: 'Галина Булаховская',
              media: 'img/bulahovskaya.jpg'
            })
          .swiper-slide
            +employee-card({
              name: 'Елена Ковальчук',
              media: 'img/kovalchuk.jpg'
            })
          .swiper-slide
            +employee-card({
              name: 'Екатерина Визенькова',
              media: 'img/vizenkova.jpg'
            })
          .swiper-slide
            +employee-card({
              name: 'Анастасия Андрее',
              media: 'img/andree.jpg'
            })
          .swiper-slide
            +employee-card({
              name: 'Ирина Богачек',
              media: 'img/bogachek.jpg'
            })
          .swiper-slide
            +employee-card({
              name: 'Татьяна Троянская',
              media: 'img/troyanskaya.jpg'
            })
          .swiper-slide
            +employee-card({
              name: 'Светлана Марасанова',
              media: 'img/marasanova.jpg'
            })
      +slider-nav().s-team__slider-nav



  section.s-theater-projects
    .s-theater-projects__container
      h2.s-theater-projects__title Театральные проекты
      ul.s-theater-projects__list
        li.s-theater-projects__item
          +project-card({
            title: 'Оригами',
            media: 'img/orygamiya.jpg'
          })
        li.s-theater-projects__item
          +project-card({
            title: 'Непослушные',
            media: 'img/neposl.jpg'
          })
        li.s-theater-projects__item
          +project-card({
            title: 'Старшеклассные',
            media: 'img/starsheklassniye.jpg'
          })
        li.s-theater-projects__item
          +project-card({
            title: 'МыЖеНаТы и VSё',
            media: 'img/my-zhenaty.jpg'
          })
        li.s-theater-projects__item
          +project-card({
            title: 'Stand_Up & Jazz party «Безбашенные домохозяйки»',
            media: 'img/domokhozyayki.jpg'
          })
        li.s-theater-projects__item
          +project-card({
            title: 'Stand_Up & Jazz party «Веснище»',
            media: 'img/vesnische.jpg'
          })



  section.s-testimonials
    .s-testimonials__container
      h2.s-testimonials__title Отзывы
      ul.s-testimonials__list
        li.s-testimonials__item
          .s-testimonials__card
            blockquote.s-testimonials__quote
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis maxime inventore neque amet dicta assumenda animi, non consectetur ex voluptatum quasi ipsam dolorum atque voluptatem.
            .s-testimonials__quotee
              img.s-testimonials__quotee-avatar(src='https://images.unsplash.com/photo-1569243355459-c9c603d4db46?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80', alt='', width='60', height='60')
              .s-testimonials__quotee-name
                | Quotee
        li.s-testimonials__item
          .s-testimonials__card
            blockquote.s-testimonials__quote
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis maxime inventore neque amet dicta assumenda animi, non consectetur ex voluptatum quasi ipsam dolorum atque voluptatem.
            .s-testimonials__quotee
              img.s-testimonials__quotee-avatar(src='https://images.unsplash.com/photo-1617505196480-d80d79bfc91c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80', alt='', width='60', height='60')
              .s-testimonials__quotee-name
                | Quotee
        li.s-testimonials__item
          .s-testimonials__card
            blockquote.s-testimonials__quote
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis maxime inventore neque amet dicta assumenda animi, non consectetur ex voluptatum quasi ipsam dolorum atque voluptatem.
            .s-testimonials__quotee
              img.s-testimonials__quotee-avatar(src='https://images.unsplash.com/photo-1619667630839-c5f899af401b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80', alt='', width='60', height='60')
              .s-testimonials__quotee-name
                | Quotee
      .s-testimonials__actions
        +btn('Оставить отзыв')



  section.s-video-about-us
    .s-video-about-us__container
      .s-video-about-us__media
        .s-video-about-us__video
          .s-video-about-us__video-placeholder
            img(src='https://images.unsplash.com/photo-1543242594-c8bae8b9e708?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80', alt='')
          button.s-video-about-us__video-play-btn
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 14', width='10', height='14')
              path(d='M0 14V0l10 7-10 7z')
      .s-video-about-us__info
        h2.s-video-about-us__title Видео о нашей школе
        .s-video-about-us__desc
          p Завершён ежегодный съезд эрудированных школьников, мечтающих глубоко проникнуть в тайны физических явлений и химических реакций.
        +btn('Learn more')



  section.s-blog
    .s-blog__container
      h2.s-blog__title Блог
      //- .s-blog__nav
      //-   ul
      //-     li: a(href='/') Новости школы
      //-     li: a(href='/') Личный блог
      ul.s-blog__list
        li.s-blog__item
          +article-card({
            label: 'Новости школы',
            title: 'Южно-эфиопский грач увёл мышь за хобот на съезд ящериц',
            media: 'https://images.unsplash.com/photo-1612991237158-7edd0a803d22?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80',
            intro: 'Юный директор целиком сжевал весь объём продукции фундука (товара дефицитного и деликатесного), идя энергично через хрустящий камыш.'
          })
        //- li.s-blog__item
        //-   +article-card({
        //-     label: 'Личный блог',
        //-     title: 'Аэрофотосъёмка ландшафта уже выявила земли богачей и процветающих крестьян',
        //-     media: 'https://images.unsplash.com/photo-1615647138834-caad166c33ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1250&q=80'
        //-   })
        li.s-blog__item
          +article-card({
            label: 'Личный блог',
            title: 'Шифровальщица попросту забыла ряд ключевых множителей и тэгов',
            media: 'https://images.unsplash.com/photo-1528277246473-0632d63a9377?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80',
            intro: 'Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.'
          })
        //- li.s-blog__item
        //-   +article-card({
        //-     label: 'Новости школы',
        //-     title: 'Съешь ещё этих мягких французских булок, да выпей [же] чаю',
        //-     media: 'https://images.unsplash.com/photo-1625140385245-e1f21602eebb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80'
        //-   })