extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header

block content
  section.in-numbers-alt
    .in-numbers-alt__container
      h2.in-numbers-alt__title
        | О нас
        br
        | в цифрах
      dl.in-numbers-alt__list
        .in-numbers-alt__item
          dt.in-numbers-alt__num 14
          dd.in-numbers-alt__caption Лет на рынке обучения
        .in-numbers-alt__item
          dt.in-numbers-alt__num 10
          dd.in-numbers-alt__caption Преподавателей
        .in-numbers-alt__item
          dt.in-numbers-alt__num 20
          dd.in-numbers-alt__caption Авторский курсов
        .in-numbers-alt__item
          dt.in-numbers-alt__num 2519
          dd.in-numbers-alt__caption Довольных слушателей



  section.testimonials-alt
    .testimonials-alt__container
      h2.testimonials-alt__title Отзывы
      .testimonials-alt__fraction
        .testimonials-alt__slider-pag
      .testimonials-alt__slider
        .swiper-wrapper
          .swiper-slide
            figure.testimonials-alt__item
              .testimonials-alt__quote
                p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
              figcaption.testimonials-alt__quotee Quotee
          .swiper-slide
            figure.testimonials-alt__item
              .testimonials-alt__quote
                p Завершён ежегодный съезд эрудированных школьников, мечтающих глубоко проникнуть в тайны физических явлений и химических реакций.
              figcaption.testimonials-alt__quotee Quotee
          .swiper-slide
            figure.testimonials-alt__item
              .testimonials-alt__quote
                p Юный директор целиком сжевал весь объём продукции фундука (товара дефицитного и деликатесного), идя энергично через хрустящий камыш.
              figcaption.testimonials-alt__quotee Quotee
      .testimonials-alt__slider-nav
        button.testimonials-alt__slider-nav-btn.testimonials-alt__slider-nav-btn--prev
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 17 11', width='17', height='11')
            path(stroke-linecap='round', stroke-linejoin='round', d='M1 5.5h15m0 0L11.5 1M16 5.5L11.5 10')
        button.testimonials-alt__slider-nav-btn.testimonials-alt__slider-nav-btn--next
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 17 11', width='17', height='11')
            path(stroke-linecap='round', stroke-linejoin='round', d='M1 5.5h15m0 0L11.5 1M16 5.5L11.5 10')
      .testimonials-alt__actions
        a.testimonials-alt__leave-feedback(href='/')
          span.testimonials-alt__leave-feedback-icon
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 18 18', width='18', height='18')
              path(stroke-linecap='round', stroke-linejoin='round', d='M10.553 17H17m-4.0236-9.41103l-2.4233-1.92126m-.85401-3.94623c.74511-.960124 1.94911-.910022 2.89941-.15644l1.4053 1.11452c.9503.75358 1.287 1.92229.5419 2.88446L6.16576 16.3769c-.28004.362-.70768.5757-1.16261.5808l-3.23207.0419-.73194-3.1851c-.103118-.4468 0-.9171.28004-1.2801L9.69909 1.72148z')
          span.testimonials-alt__leave-feedback-text Оставить отзыв



  footer.page-footer-alt
    .page-footer-alt__container
      .page-footer-alt__top
        .page-footer-alt__nav.page-footer-alt__nav--education
          ul.page-footer-alt__list
            li: a(href='/') Обучение
            li: a(href='/') Онлайн-обучение
            li: a(href='/') Расписание
            li: a(href='/') Преподаватели
        .page-footer-alt__nav.page-footer-alt__nav--about-us
          ul.page-footer-alt__list
            li: a(href='/') О школе
            li: a(href='/') Компаниям
            li: a(href='/') Театральные проекты
            li: a(href='/') Преподаватели
        .page-footer-alt__contact.page-footer-alt__contact--phone-num
          h3.page-footer-alt__subtitle Связаться
          a(href='tel:+79291015636') +7 (929) 101-56-36
        .page-footer-alt__contact.page-footer-alt__contact--e-mail
          h3.page-footer-alt__subtitle E-mail
          a(href='mailto:info@annenkovaschool.ru') info@annenkovaschool.ru
        form.page-footer-alt__subs-form
          h3.page-footer-alt__subtitle
            | Subscribe to our newsletter
            br
            | to get insights and advice
          label.page-footer-alt__subs-label
            input.page-footer-alt__subs-input(type='text', placeholder='E-mail')
            button.page-footer-alt__subs-submit(type='submit')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 17 18', width='17', height='18')
                path(d='M1 8.5c-.276142 0-.5.22386-.5.5s.223858.5.5.5v-1zM11 9l.3536.35355c.1952-.19526.1952-.51184 0-.7071L11 9zM7.85355 5.14645c-.19526-.19527-.51184-.19527-.7071 0-.19527.19526-.19527.51184 0 .7071l.7071-.7071zm-.7071 6.99995c-.19527.1953-.19527.5119 0 .7072.19526.1952.51184.1952.7071 0l-.7071-.7072zM15.5 9c0 4.1421-3.3579 7.5-7.5 7.5v1c4.6944 0 8.5-3.8056 8.5-8.5h-1zM8 1.5c4.1421 0 7.5 3.35786 7.5 7.5h1C16.5 4.30558 12.6944.5 8 .5v1zM2.84381 3.55353C4.18832 2.28022 6.0025 1.5 8 1.5v-1c-2.26334 0-4.32099.88528-5.84381 2.32746l.68762.72607zM8 16.5c-1.99749 0-3.81168-.7802-5.15619-2.0535l-.68762.726C3.67901 16.6147 5.73666 17.5 8 17.5v-1zm-7-7h10v-1H1v1zm10.3536-.85355l-3.50005-3.5-.7071.7071 3.49995 3.5.7072-.7071zm-.7072 0L7.14645 12.1464l.7071.7072 3.50005-3.50005-.7072-.7071z')
        .page-footer-alt__socials
          ul
            li
              a(href='/')
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 24 14', width='24', height='14')
                  path(fill-rule='evenodd', d='M3.5253 0H.900229C.150038 0 0 .346611 0 .729769 0 1.41238.889426 4.80067 4.14465 9.28067 6.3136 12.3412 9.37078 14 12.1519 14c1.6696 0 1.8761-.369 1.8761-1.0021v-2.3131c0-.73684.1584-.88421.6865-.88421.3901 0 1.0563.19099 2.6155 1.66581C19.1101 13.216 19.4029 14 20.404 14h2.6263c.7501 0 1.1258-.369.9086-1.0964-.2365-.7239-1.0863-1.7755-2.2146-3.02166-.6121-.70973-1.5292-1.47487-1.8076-1.85802-.3901-.49163-.2785-.70973 0-1.14712 0 0 3.1988-4.42577 3.5325-5.928926C23.6172.402021 23.4492 0 22.6546 0h-2.6251c-.6674 0-.9759.346611-1.1427.729769 0 0-1.3347 3.196121-3.2264 5.272251-.6122.60126-.8906.79343-1.2243.79343-.1669 0-.4081-.19217-.4081-.73802V.947874C14.028.292379 13.8347 0 13.2778 0H9.15113c-.41651 0-.66738.304169-.66738.593011 0 .621309.94585.765139 1.04307 2.513519v3.79739c0 .83351-.15244.98442-.48732.98442-.88943 0-3.05478-3.21146-4.33911-6.88506C4.44833.288842 4.19627 0 3.5253 0z', clip-rule='evenodd')
            li
              a(href='/')
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
                  path(fill-rule='evenodd', d='M14 0H2C.897 0 0 .897 0 2v12c0 1.103.897 2 2 2h6v-5.5H6V8h2V6c0-.79565.31607-1.55871.87868-2.12132C9.44129 3.31607 10.2044 3 11 3h2v2.5h-1c-.552 0-1-.052-1 .5v2h2.5l-1 2.5H11V16h3c1.103 0 2-.897 2-2V2c0-1.103-.897-2-2-2z', clip-rule='evenodd')
            li
              a(href='/')
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 14', width='16', height='16')
                  path(d='M7 1.26506h2.86747c.67473 0 1.01203.16868 1.26503.25301.3374.16868.5904.25302.8434.50603.253.25301.4217.50602.506.84337.0844.25301.1687.59036.253 1.26506v5.73494c0 .67473-.1686 1.01203-.253 1.26503-.1686.3374-.253.5904-.506.8434s-.506.4217-.8434.506c-.253.0844-.5903.1687-1.26503.253H4.13253c-.6747 0-1.01205-.1686-1.26506-.253-.33735-.1686-.59036-.253-.84337-.506-.25301-.253-.42169-.506-.50603-.8434-.08433-.253-.16867-.5903-.25301-1.26503V7 4.13253c0-.6747.16868-1.01205.25301-1.26506.16868-.33735.25302-.59036.50603-.84337.25301-.25301.50602-.42169.84337-.50603.25301-.08433.59036-.16867 1.26506-.25301H7zM7 0H4.13253c-.75904 0-1.26506.168675-1.68675.33735-.42168.168675-.84337.421687-1.26506.84337-.421683.42169-.590358.75904-.84337 1.26506C.168675 2.86747.0843374 3.37349 0 4.13253v5.73494c0 .75903.168675 1.26503.33735 1.68673.168675.4217.421687.8434.84337 1.2651.42169.4217.75904.5903 1.26506.8434.42169.1686.92771.253 1.68675.3373h5.73494c.75903 0 1.26503-.1687 1.68673-.3373.4217-.1687.8434-.4217 1.2651-.8434.4217-.4217.5903-.7591.8434-1.2651.1686-.4217.253-.9277.3373-1.68673V7 4.13253c0-.75904-.1687-1.26506-.3373-1.68675-.1687-.42168-.4217-.84337-.8434-1.26506-.4217-.421683-.7591-.590358-1.2651-.84337C11.1325.168675 10.6265.0843374 9.86747 0H7z')
                  path(d='M7 3.37349C4.9759 3.37349 3.37349 4.9759 3.37349 7c0 2.0241 1.60241 3.6265 3.62651 3.6265 2.0241 0 3.6265-1.6024 3.6265-3.6265S9.0241 3.37349 7 3.37349zm0 5.98796C5.73494 9.36145 4.63855 8.3494 4.63855 7 4.63855 5.73494 5.6506 4.63855 7 4.63855 8.26506 4.63855 9.36145 5.6506 9.36145 7c0 1.26506-1.09639 2.36145-2.36145 2.36145zM10.7108 4.13253c.4658 0 .8434-.37759.8434-.84337 0-.46578-.3776-.84338-.8434-.84338-.4657 0-.84333.3776-.84333.84338s.37763.84337.84333.84337z')
            li
              a(href='/')
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 22 15', width='22', height='15')
                  path(d='M21.45 2.27679c-.275-.9375-.9625-1.607147-1.925-1.875004C17.875 2.4e-7 10.8625 0 10.8625 0S3.98751 2.4e-7 2.20001.401786C1.23751.669643.549996 1.33929.274996 2.27679-.0000042 4.01786 0 7.5 0 7.5s.00000418 3.4821.412504 5.2232c.275.9375.962496 1.6072 1.924996 1.875C3.9875 15 11 15 11 15s6.875 0 8.6625-.4018c.9625-.2678 1.65-.9375 1.925-1.875C22 10.9821 22 7.5 22 7.5s0-3.48214-.55-5.22321zM8.79999 10.7143V4.28571L14.575 7.5l-5.77501 3.2143z')
            li
              a(href='/')
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
                  path(d='M9.79664 6.35737C11.004 7.56416 12.8071 7.79271 16 7.83583 15.9138 3.59573 12.5367.172487 8.31694.00739234 8.35514 3.29142 8.57198 5.1321 9.79664 6.35737zm-3.43865 0C7.58388 5.13148 7.79948 3.28895 7.83829 0 3.54522.0856274.0862434 3.54399 0 7.83706c3.28957-.03819 5.13148-.25442 6.35737-1.4803l.00062.00061zm3.43865 3.43865C8.59108 11.0022 8.36191 12.8041 8.31818 15.992c4.16802-.1645 7.50992-3.5064 7.67442-7.67382-3.1879.04312-4.9898.27228-6.19596 1.47845v-.00061zm-3.43865 0C5.1321 8.57136 3.29203 8.35452.00800832 8.31633.173103 12.5361 3.59635 15.9138 7.83583 16c-.04312-3.1935-.27105-4.9966-1.47846-6.20337l.00062-.00061z')
        .page-footer-alt__captions
          .page-footer-alt__school
            | Имидж-школа
            br
            | Елены Анненковой
          .page-footer-alt__experience 14 лет с вами
      .page-footer-alt__bottom
        span © 2021 — Annenkova-school
        span All Right Reserved



block footer