mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods)&attributes(attributes)
    .s-page-footer__container
      .s-page-footer__subscription
        h3.s-page-footer__subscription-title
          | Подписывайтесь
          br
          | на рассылку новостей
        form.s-page-footer__subscription-form(action='')
          label.s-page-footer__subscription-label(for='')
            input.s-page-footer__subscription-input(type='text', placeholder='E-mail')
            button.s-page-footer__subscription-submit(type='submit')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 7 12', width='7', height='12')
                path(stroke-width='1.5', stroke='#333', stroke-linecap='round', stroke-linejoin='round', d='M1 1l5 5-5 5')
      +socials().s-page-footer__socials
      .s-page-footer__copyright
        | Имидж-школа Елены Анненковой
        br
        | 14 лет с вами
