.s-page-footer {
  padding: 45px 20px;
  text-align: center;

  &__container {
    @include container;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__subscription {
    margin-bottom: 60px;
  }

  &__subscription-title {
    @include title;
    margin: 0 auto 45px;
  }

  &__subscription-form {
    max-width: 500px;
    margin: 0 auto;
  }

  &__subscription-label {
    position: relative;
    display: block;
  }

  &__subscription-input {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    margin: 0;
    font-family: $font-f;
    font-size: 14px;
    line-height: 1.4em;
    color: currentColor;
    vertical-align: middle;
    background-color: $bg-c--shade;
    border: none;
    border-radius: 0;

    &::placeholder {
      font-family: $font-f;
      color: currentColor;
      opacity: 0.25;
    }

    &:focus {
      border-color: $primary-c;
      outline: none;
    }
  }

  &__subscription-submit {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;
    transform: translateY(-50%);

    svg {
      display: block;
      fill: transparent;

      path {
        stroke: currentColor;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__socials {
    margin-bottom: 15px;
  }

  &__copyright {
    font-size: 14px;
    line-height: 1.4em;
  }
}
