.s-lessons {
  @include s-padding;
  text-align: center;

  &__container {
    @include container;
  }

  &__title {
    @include title;
    margin: 0 auto 30px;

    @media (min-width: $screen-sm) {
      margin: 0 auto 45px;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        left: 0;
        margin: 0 5px 5px 0;
        font-size: 14px;
        line-height: 1.4em;

        @media (min-width: $screen-xs) {
          margin: 0;

          &:not(:last-child) {
            margin-right: 10px;
          }
        }

        a {
          display: block;
          padding: 5px 10px;
          font-weight: 500;
          color: currentColor;
          text-decoration: none;
          border: 1px solid currentColor;
          border-radius: 4px;
        }
      }
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-sm) {
      gap: 30px 20px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    padding: 0;
    margin: 0;

    @media (max-width: ($screen-xs - 1px)) {

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
