.in-numbers-alt {
  position: relative;
  padding: 45px 20px;
  font-family: ui-sans-serif, system-ui, -system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  color: #fff;
  background-image: url('../img/in-numbers-alt-bg.jpg');
  background-image: image-set(url('../img/in-numbers-alt-bg.jpg') 1x, url('../img/in-numbers-alt-bg@2x.jpg') 2x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: '';
    background-color: #1e1b22;
    opacity: 0.9;
  }

  @media (min-width: $screen-sm) {
    padding: 75px 30px 90px;
  }

  &__container {
    @include container;
    position: relative;
    z-index: 2;
  }

  &__title {
    margin: 0 0 30px;
    font-family: ui-serif, serif;
    font-size: 39px;
    font-weight: 500;
    line-height: 1.1em;

    @media (min-width: $screen-sm) {
      margin: 0 0 45px;
      font-size: 56px;
    }
  }

  &__list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;

    @media (min-width: 410px) {
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-sm) {
      gap: 40px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    padding: 30px 0 0;
    margin: 0;
    border-top: 1px solid rgba(#fff, 0.125);
  }

  &__num {
    margin: 0 0 10px;
    font-family: ui-serif, serif;
    font-size: 56px;
    font-weight: 500;
    line-height: 1.2em;
  }

  &__caption {
    margin: 0;
    font-size: 15px;
    line-height: 1.4em;
  }
}
