.s-theater-projects {
  @include s-padding;
  text-align: center;

  &__container {
    @include container;
  }

  &__title {
    @include title;
    margin: 0 auto 30px;

    @media (min-width: $screen-sm) {
      margin: 0 auto 45px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 30px 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 30px 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
  }
}
