mixin lesson-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' lesson-card--' + modsList[i].trim();
      }
    }

  figure.lesson-card(class=allMods)&attributes(attributes)
    .lesson-card__media
      a.lesson-card__media-wrap(href='/')
        img(src=props.media, alt='')
      a.lesson-card__link(href='/') Записаться
    figcaption
      a.lesson-card__title(href='/')!= props.title