@use 'sass:math';

.lesson-card {
  margin: 0;

  &:hover {

    .lesson-card__media {

      img {
        transform: scale(1);
      }
    }

    .lesson-card__link {
      opacity: 1;
    }
  }

  &__media {
    position: relative;
    margin-bottom: 10px;
  }

  &__media-wrap {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;

    &::before {
      display: block;
      padding-bottom: (math.div(9, 16)) * 100%;
      content: '';

      @media (min-width: $screen-xs) {
        padding-bottom: (math.div(3, 4)) * 100%;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      transition: all 500ms $transition-t;
      transform: scale(1.1);
      object-fit: cover;
    }
  }

  &__link {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 10px;
    margin: 0 5px 5px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
    color: currentColor;
    text-decoration: none;
    background-color: #fff;
    border-radius: 4px;
    opacity: 1;
    transition: all 250ms $transition-t;

    @media (min-width: $screen-md) {
      opacity: 0;
    }

    &:hover,
    &:focus {
      color: #fff;
      background-color: #51485b;
    }
  }

  &__title {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4em;
    color: currentColor;
    text-decoration: none;
  }
}
