mixin employee-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-employee-card--' + modsList[i].trim();
      }
    }

  figure.s-employee-card(class=allMods)&attributes(attributes)
    a.s-employee-card__media(href='/')
      img(src=props.media, alt='')
    figcaption.s-employee-card__caption
      h3.s-employee-card__name!= props.name