@use 'sass:math';

.s-employee-card {
  margin: 0;

  &__media {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;

    &::after {
      display: block;
      padding-bottom: math.div(4, 3) * 100%;
      content: '';
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      transition: all 500ms $transition-t;
      transform: scale(1.05);
      object-fit: cover;
    }

    &:hover {

      img {
        transform: scale(1);
      }
    }
  }

  &__caption {
    padding: 15px 20px;
  }

  &__name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4em;
  }
}
