.testimonials-alt {
  padding: 60px 20px;
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, -system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  @media (min-width: $screen-sm) {
    padding: 75px 30px 90px;
  }

  @media (min-width: $screen-md) {
    padding: 120px 30px;
  }

  &__container {
    @include container;
    display: grid;
    grid-template:
      'title'
      'slider'
      'actions' / minmax(0, 1fr);
    gap: 30px;

    @media (min-width: $screen-sm) {
      grid-template:
        'title .'
        'slider slider-nav'
        'actions .' / minmax(0, 9fr) 3fr;
      gap: 60px 40px;
    }

    @media (min-width: $screen-md) {
      grid-template:
        '. title .'
        'fraction slider slider-nav'
        '. actions .' / 3fr minmax(0, 6fr) 3fr;
      gap: 60px 40px;
    }
  }

  &__title {
    grid-area: title;
    margin: 0;
    font-family: ui-serif, serif;
    font-size: 39px;
    font-weight: 500;
    line-height: 1.1em;

    @media (min-width: $screen-sm) {
      font-size: 56px;
    }
  }

  &__fraction {
    grid-area: fraction;
    padding-top: 5px;
    font-size: 10px;
    line-height: 1.4em;
    color: rgba(#262428, 0.25);

    @media (max-width: ($screen-md - 1px)) {
      display: none;
    }

    .swiper-pagination-current {
      margin-right: 20px;
      font-size: 14px;
      font-weight: 500;
      color: #262428;
    }
  }

  &__slider {
    position: relative;
    z-index: 1;
    grid-area: slider;
    width: 100%;

    .swiper-slide {
      pointer-events: none;

      .testimonials-alt__item {
        opacity: 0;
        transition: all 0.25s $transition-t 0.125s;
      }
    }

    .swiper-slide-active {
      pointer-events: all;

      .testimonials-alt__item {
        opacity: 1;
      }
    }
  }

  &__slider-nav {
    position: relative;
    z-index: 2;
    display: flex;
    grid-area: slider-nav;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    pointer-events: none;

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }

    .swiper-button-disabled {
      cursor: default;
      opacity: 0;
    }
  }

  &__slider-nav-btn {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    color: currentColor;
    pointer-events: all;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba($text-c, 0.125);
    border-radius: 50px;
    outline: none;
    transition: 250ms $transition-t;

    &::after {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
      content: '';
    }

    svg {
      display: block;
      fill: transparent;

      path {
        stroke: currentColor;
      }
    }

    &:hover,
    &:focus {
      border: 1px solid rgba($text-c, 1);
    }

    &--prev {
      margin-right: 10px;

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }
  }

  &__item {
    margin: 0;
  }

  &__quote {
    position: relative;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.3em;

    &::before {
      position: absolute;
      top: 5px;
      right: calc(100% + 45px);
      width: 50px;
      height: 38px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 50 38'%3E%3Cpath fill='%2351485B' d='M.623053 38C11.0592 36.3111 21.2617 26.4848 21.2617 14.0485 21.2617 6.06465 17.134 0 10.6698 0 4.6729 0 1.01246 5.37374 1.01246 11.899c6.30841.5374 10.82554 4.8364 10.82554 10.4404 0 6.8323-5.52959 11.899-11.838 13.3576L.623053 38zM29.3614 38C39.7975 36.3111 50 26.4848 50 14.0485 50 6.06465 45.8723 0 39.4081 0c-5.9969 0-9.6573 5.37374-9.6573 11.899 6.3084.5374 10.8255 4.8364 10.8255 10.4404 0 6.8323-5.5296 11.899-11.838 13.3576L29.3614 38z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (max-width: ($screen-md - 1px)) {
        display: none;
      }
    }
  }

  &__quotee {
    position: relative;
    display: block;
    padding-left: 45px;
    margin: 45px 0 0;
    font-size: 12px;
    line-height: 1.4em;

    &::before {
      position: absolute;
      top: 8px;
      left: 0;
      display: inline-block;
      width: 30px;
      height: 1px;
      content: '';
      background-color: #51485b;
    }
  }

  &__actions {
    grid-area: actions;
  }

  &__leave-feedback {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: #51485b;
    text-decoration: none;

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;

      .testimonials-alt__leave-feedback-icon {
        transform: scale(1.05);
      }

      .testimonials-alt__leave-feedback-text::after {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }
  }

  &__leave-feedback-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    margin-right: 20px;
    color: #fff;
    background-color: #51485b;
    border-radius: 90px;
    transition: 0.75s $transition-t;

    svg {
      display: block;
      fill: transparent;
      stroke: currentColor;
    }
  }

  &__leave-feedback-text {
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 1.4em;
    color: currentColor;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
      transition: transform 0.75s $transition-t;
      transform: scaleX(0);
      transform-origin: center right;
    }
  }
}
