// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$text-c: #282f33;
$text-c--light: #fff;

$bg-c: #fff;
$bg-c--shade: #ededed;
$bg-c--dark: $text-c;

$primary-c: #ff790e;

// Semantic colors
$success-c: #16c98d;
$warning-c: #ffc83f;
$danger-c: #fa5e5b;

// Fonts
$font-f: Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
// $font-f--serif: Forum, serif;
$font-f--monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

// Misc
$border-c: rgba($text-c, 0.125);
$border-r: 4px;
$transition-t: cubic-bezier(0.15, 0.85, 0.45, 1);



@mixin s-padding {
  padding: 45px 20px;

  @media (min-width: $screen-sm) {
    padding: 90px 30px;
  }
}

@mixin container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

@mixin title {
  position: relative;
  max-width: 35ch;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  &::after {
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    width: 30px;
    height: 1px;
    content: '';
    background-color: currentColor;
    transform: translateX(-50%);
  }
}
