.page-footer-alt {
  padding: 20px;
  font-family: ui-sans-serif, system-ui, -system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  background:
    linear-gradient(to bottom right, rgba(#51485b, 0.5), rgba(#51485b, 0.25)),
    conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $screen-sm) {
    padding: 45px 30px 30px;
  }

  &__container {
    @include container;
  }

  &__top {
    display: grid;
    grid-template:
      'education'
      'about-us'
      'phone-num'
      'e-mail'
      'subs-form'
      'socials'
      'captions' / 1fr;
    padding: 30px;
    background-color: #fff;
    gap: 30px 20px;

    @media (min-width: $screen-xs) {
      grid-template:
        'education about-us'
        'phone-num e-mail'
        'subs-form subs-form'
        'socials captions' / 1fr 1fr;
      gap: 45px 20px;
    }

    @media (min-width: $screen-sm) {
      grid-template:
        'education phone-num e-mail'
        'about-us subs-form subs-form'
        'socials captions captions' / 5fr 3fr 4fr;
      gap: 45px 20px;
    }

    @media (min-width: $screen-md) {
      grid-template:
        'education phone-num e-mail'
        'about-us subs-form subs-form'
        'socials captions captions' / 6fr 3fr 3fr;
      padding: 60px 75px;
      gap: 30px 40px;
    }
  }

  &__nav {

    &--education {
      grid-area: education;

      li {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4em;

        @media (min-width: $screen-md) {
          font-size: 28px;
          line-height: 1.2em;
        }
      }
    }

    &--about-us {
      grid-area: about-us;

      li {
        font-size: 15px;
        line-height: 1.4em;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0;
    }

    a {
      position: relative;
      display: inline-block;
      color: currentColor;
      text-decoration: none;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 1px;
        content: '';
        background-color: currentColor;
        transition: transform 0.75s $transition-t;
        transform: scaleX(0);
        transform-origin: center right;
      }

      &:hover,
      &:focus {
        color: currentColor;
        text-decoration: none;

        &::after {
          transform: scaleX(1);
          transform-origin: center left;
        }
      }
    }
  }

  &__contact {

    a {
      position: relative;
      display: inline-block;
      font-size: 15px;
      line-height: 1.4em;
      color: currentColor;
      text-decoration: none;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 1px;
        content: '';
        background-color: currentColor;
        transition: transform 0.75s $transition-t;
        transform: scaleX(0);
        transform-origin: center right;
      }

      &:hover,
      &:focus {
        color: currentColor;
        text-decoration: none;

        &::after {
          transform: scaleX(1);
          transform-origin: center left;
        }
      }
    }

    &--phone-num {
      grid-area: phone-num;
    }

    &--e-mail {
      grid-area: e-mail;
    }
  }

  &__subtitle {
    margin: 0 0 15px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4em;
    opacity: 0.5;
  }

  &__subs-form {
    grid-area: subs-form;
    align-self: end;

    .page-footer-alt__subtitle {
      font-size: 16px;
      line-height: 1.4em;
      opacity: 1;
    }
  }

  &__subs-label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid currentColor;
  }

  &__subs-input {
    display: block;
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;
    padding: 15px 20px 15px 0;
    margin: 0;
    font-family: $font-f;
    font-size: 15px;
    line-height: 1.4em;
    color: currentColor;
    background-color: transparent;
    border: none;
    border-radius: 0;

    &::placeholder {
      font-family: $font-f;
      color: currentColor;
      opacity: 0.25;
    }

    &:focus {
      border-color: $primary-c;
      outline: none;
    }
  }

  &__subs-submit {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 100%;
    padding: 0 15px;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;

    svg {
      display: block;
      transition: 0.5s $transition-t;
    }

    &:hover,
    &:focus {

      svg {
        transform: translateX(10px);
      }
    }
  }

  &__socials {
    grid-area: socials;
    align-self: end;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      padding: 0;
      margin: 0;

      &:not(:last-child) {
        margin-right: 5px;

        @media (min-width: $screen-md) {
          margin-right: 10px;
        }
      }
    }

    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      color: #51485b;
      text-decoration: none;
      border: 1px solid rgba(#51485b, 0.125);
      border-radius: 45px;
      transition: all 0.25s $transition-t;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: '';
        background-color: #51485b;
        border-radius: 45px;
        transition: all 0.25s $transition-t;
        transform: scale(0);
      }

      svg {
        position: relative;
        z-index: 2;
        display: block;
        fill: currentColor;
      }

      &:hover,
      &:focus {
        color: #fff;

        &::before {
          transform: scale(1);
        }
      }
    }
  }

  &__captions {
    display: flex;
    grid-area: captions;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 12px;
    line-height: 1.4em;
    opacity: 0.5;

    @media (min-width: $screen-sm) {
      margin-top: 90px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    font-size: 12px;
    line-height: 1.4em;

    @media (min-width: $screen-sm) {
      padding-top: 120px;
    }
  }
}
