@use 'sass:math';

.s-project-card {
  margin: 0;

  &__media {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;

    &::before {
      display: block;
      padding-bottom: math.div(3, 4) * 100%;
      content: '';
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      transition: all 500ms $transition-t;
      transform: scale(1.05);
      object-fit: cover;
    }

    &:hover {

      img {
        transform: scale(1);
      }
    }
  }

  &__caption {
    padding: 0;
    margin: 0;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3em;
  }
}
